.contact-box {
	margin-top: 100px;

}

.con-ele {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: blue;
	margin-top: 20px;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: grey;
}
