
.contact-box {
	margin-top: 100px;

}

.con-ele {
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: grey;
}