.edu-box {
	height: 1000px;
}

.edu-content {
	width: 100%;
	color: #575455;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 100px;
}

.school-name {
	font-weight: bold;
	color: #7a162c;
	font-size: 30px;
}

.edu-title {
	font-weight: bold;
	color: black;
	font-size: 15px;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: grey;
}