.name-text {
	color: white;
	font-size: 50px;
	position: relative;
	top: 35%;
}

.dialogue-text {
	color: white;
	font-size: 30px;
	position: relative;
	top: 42%;
}

.home-box {
	background-color: #2c7dbf;
	text-align: center;
	height: 1000px;
}