.name-text {
	color: white;
	font-size: 50px;
	position: relative;
	top: 35%;
}

.dialogue-text {
	color: white;
	font-size: 30px;
	position: relative;
	top: 42%;
}

.home-box {
	background-image: url(../img/homebg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
}