html {
	scroll-behavior: smooth;

}

body {
	font-family: monospace;
	
}

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 13px;
}

.nav-bar-ele {
	float: right;
	margin-left: 15px;
	margin-right: 15px;
}

.big-box {
	height: 1200px;
	width: 100%;
	float: left;
}

.right-bar {
	position: fixed;
	right: 0;
	top: 200px;
	align-items: right;
	text-align: right;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}